.ui.inverted.black {
    background: linear-gradient(50deg, rgb(250, 248, 248) 0%, rgb(255, 251, 251) 100%);
  /* padding: 1rem 0 rem 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
  }

  .copyright {
    color: gray;

  }

